<div class="panel panel-default" ng-init="getMainCtrl()">
  <!-- <div class="panel-heading">
    <h3 class="panel-title">Randomize restaurants</h3>
  </div> -->
 <div class="panel-body">
    <div class="row">
        <div  ng-controller="MainCtrl">
            <p><date-input name="info.name" message="info.message"></date-input></p>
        <div  data-ng-repeat="business in businesses">
            <div class="col-lg-4">
                    <img class="thumbnail" src="{{business.image_url}}">
                <div class="col-lg-12">
                    <h3>{{business.name}}</h3>
                    <p><a class="btn btn-primary" href="{{business.url}}">View details &raquo;</a></p>
                </div><!-- End cold-md-6-->
            </div><!-- End col-md-4 -->
        </div><!-- End ng-repeat -->
    </div><!-- End row -->
    </div>
  </div><!-- End panel-body -->
</div><!-- End panel panel_default -->
